<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI의사 상담</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/chat.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    <div class="container chat-container">
        <div class="chat-header  d-flex justify-content-between">
            <h5 class="mb-0">G의사</h5>
            <form action="/action/logout" method="GET">
                <button class="btn btn-danger" type="submit">로그아웃</button>
            </form>
        </div>
        <div class="chat-body" id="chat-body">
            <!-- 메시지가 동적으로 추가될 위치 -->
        </div>
        <div class="chat-footer">
            <form class="form-inline" id="message-form">
                <input type="text" class="form-control" id="message" placeholder="메시지를 입력하세요...">
                <button type="submit" class="btn btn-primary">전송</button>
            </form>
        </div>
    </div>

    <script>
        const csrfToken = '{{ csrf_token }}';
        const message = "{{ message }}";
        const chatId = "{{ id }}";

        if(message) {
            alert(message);
        }

        if(chatId) {
            fetch('http://127.0.0.1:8000/chat/get-history', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({ 
                    chatId: chatId 
                }),
            })
            .then(response => response.json())
            .then(data => {
              console.log(data);
              // 이전 채팅 내역 추가
                data.forEach(item => {
                    const sender = item.username === 'llm' ? 'llm' : 'user';
                    addMessage(sender, item.message);
                });
            })
            .catch(error => {
              console.error('Error:', error);
            });
        }

        const messageForm = document.getElementById('message-form');
        const chatBody = document.getElementById('chat-body');
        
        // 폼 제출 이벤트 핸들러
        messageForm.addEventListener('submit', async (event) => {
            event.preventDefault(); // 기본 제출 이벤트 방지
            const messageInput = document.getElementById('message');
            const sendMessage = messageInput.value; // 입력된 메시지

            addMessage('user', sendMessage);
            messageInput.value = ''; // 입력창 비우기
            // 서버로 메시지 전송
            await fetch('http://127.0.0.1:8000/chat/llm', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({ 
                    message: sendMessage,
                    chatId: chatId 
                }),
            })
            .then(response => response.json())
            .then(data => {
              // 메시지 추가
              addMessage('llm', data.llm_message);
            })
            .catch(error => {
              console.error('Error:', error);
            });

        });

        
        // 메시지 추가 함수
        function addMessage(sender, message) {
            const messageElement = document.createElement('div');
            messageElement.classList.add('chat-message');

            const messageBubble = document.createElement('div');
            messageBubble.classList.add('message-bubble');

            if (sender === 'user') {
                messageElement.classList.add('message-sent');
            } else {
                messageElement.classList.add('message-received');
            }

            messageBubble.textContent = message;
            messageElement.appendChild(messageBubble);
            chatBody.prepend(messageElement); // 새로운 메시지를 맨 위에 추가

            // 스크롤 내리기
            chatBody.scrollTop = 0;
        }
    </script>
</body>
</html>
